src/main/webapp/schemas/cust.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="abc" targetNamespace="abc" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb">
   <xs:element name="customer">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="firstname" type="xs:string"/>
      <xs:element name="lastname" type="xs:string"/>
         </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>

